[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = ">=5.15.11,<6"
pyqt5-qt5 = ">=5.15.16,<6"
pyqt5-sip = ">=12.16.1"
ansi2html = ">=1.9.2"

[dev-packages]

